*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: yellow;
    color: red;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    border-radius: 30px;
}